{require_otp_vsn, "R1[456]"}.

{cover_enabled, true}.

{edoc_opts,[{todo, true}]}.


{deps,
 [
 
 	{'parse_trans', ".*", {git, "https://github.com/uwiger/parse_trans.git", {branch, "master"}}},
 
 	{meta, ".*", 
		{git, "https://github.com/EduardSergeev/meta.git",
    {tag, "0.0.2"}}},
	
	{ jsonrec , ".*", 
		{git, "https://github.com/EduardSergeev/jsonrec.git", "0.0.3"}},

	{'iso8601', ".*", 
		{git, "git://github.com/seansawyer/erlang_iso8601.git", "1.1.1"}},		
 
   {goldrush, ".*", {git, "https://github.com/DeadZen/goldrush.git","master"},[raw]},

   {lager, ".*", {git, "https://github.com/basho/lager.git","master"},[raw]}

 ]}.

{pre_hooks, []}.

{post_hooks, []}.

{lib_dirs, [
	    "deps"
]}.

{sub_dirs, ["deps", "rel", "src"
]}.
