{require_otp_vsn, "R14"}.

{cover_enabled, true}.

{edoc_opts,[{todo, true}]}.


{deps,
 [
   {goldrush, ".*", {git, "https://github.com/DeadZen/goldrush.git","master"},[raw]},

   {lager, ".*", {git, "https://github.com/basho/lager.git","master"},[raw]}

 ]}.

{pre_hooks, []}.

{post_hooks, []}.

{lib_dirs, [
	    "deps"
]}.

{sub_dirs, ["deps", "rel" 
]}.
